.footer{
    		background: #3565a3;
    		height: 204px;
    		margin-top: 50px;
    	}
    	.container-footer{
    		/*background: #ccc;*/
    		width: 1200px;
    		height: 204px;
    		padding:0;
            background: #3565a3 none repeat scroll 0% 0%;
    	}
    	#footer .span-logo{
    		background:url(../imag/index_icon12.png) no-repeat 0 0;height:30px;width:126px;display:block;float:left;margin-top: 55px;
    	}
    	#footer .span-tel{
    		/*background:url(./imgs/tel.png) no-repeat 0 0;*/height:33px;width:183px;display:block;float:left;margin-top: 55px;margin-left: 15px;
    	}
    	#footer .font-style{
    		font-family: 微软雅黑;
    		font-size:12px;
    		color: #989898;
    	}
    	#footer .span-style-tel{
    		width: 902px;
    		clear: both;
    		display: block;
    		float: left;
    		padding-top: 12px;
    		padding-bottom: 10px;
            color: #ffffff;
    		border-bottom: 1px solid #ffffff;
    	}
    	#footer .li-a-style{
    		text-decoration:none;
    		font-family: 微软雅黑;
    		font-size:12px;
    		color: #ffffff;
    		cursor:pointer; 
    		padding-left: 12px; 
    		padding-right: 12px;
        }
    	#footer ul{
    		margin-left: -13px;
    		margin-top: 20px;
    		padding: 0;
    		clear: both;
    		display: block;
    		float: left;
    	}
    	#footer ul li{
    		list-style: none;
    		/*display: block;*/
    		float: left;
    		margin-left: 6px;
    	}
    	#footer .weima{
    		width: 120px;
    		float: right;
    		margin-top: -98px;
    		display: block;
    		/*clear: both;*/
            margin-right: 5px;
            text-align: center;
    	}
        #footer .weima img{
            width: 98px;
            height: 98px;

        }