@charset "utf-8";
a:focus{
	outline:none !important;
}
body,ul,li,header,div,nav,a,span {
	margin:0;
	padding:0;
	border:0;
	font-family: "微软雅黑";
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-table; }
* html .clearfix { height: 1%; }

input:focus {
	outline:none;
	}
.nounderline:hover{
	text-decoration:none;
}
.header {
	width:100%;
	min-width:1200px;
	margin:0 auto;
	height:135px;
	border-bottom:#dcdcdc solid 1px;
	font-size: 14px;
	background:#fff;
	position: fixed;
	z-index: 100;	
}
.header_top {
	width:100%;
	min-width:1200px;
	margin:0 auto;
	background-color: #3565a3;
	color: #FFF;
	height:35px;
}
.header_top_content {
	position:relative;
	width:1160px;
	height:35px;
	margin:0 auto;
}
.header_top_content span {
	float:left;
	margin-top:9px;
}
.header_top_content ul {
	list-style:none;
	margin-left:860px;
}
.header_top_content ul li{
	display:block;
	float:left;
	height:35px;
	width:50px;
	text-align:center;
	line-height:35px;
}
.header_top_content ul li:hover{
	background:#23527c;
}
.webmapword{
	width:78px !important;
	margin-left:22px !important;
}
.webmapword:after{
	clear:both;
}
.header_top_content ul li a{
	color:#FFF;
	font-size: 14px;
}
.header_main {
	position:relative;
	width:1160px;
	height:100px;
	margin:0 auto;
	z-index:100;	
}
.header_main_left>img{
	float:left;
	margin-top:20px;
}
.header_main_left {
	float:left;
}
.header_main_left ul {
	list-style:none;
	float:left;
	margin-top:25px;
	margin-left:70px;
}
.header_main_left ul li {
	float:left;
	width:90px;
	height:30px;
	margin-top:30px;
}
.header_main_left ul li a{
	color: #000;
	font-size: 16px;
	text-decoration:none;
}
.header_main_left ul li a span{
	font-size:12px;
}
.header_main_left ul li a:hover{
	color:#007eca;
}
.header_main_left ul li a:after{
	content:"";
	position:relative;
	display:inline-block;
	width:1px;
	height:30px;
	left:30px;
	top:10px;
	background:#dcdcdc;
}
.header_main_left ul li a.noline:after {
	background:#fff;
}
.header_main_right{
	position: relative;
	float: right;
	z-index: 100;
}
.search{
    width: 341px!important;
    height: 50px!important;
	margin-top:20px;
    border: #dcdcdc solid 1px !important;
    z-index: 1;
	background:#fff !important;
}
.search a{
	width: 72px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    line-height: 50px;
    background: url(../../../static/image/newimg/optriangle.png) no-repeat 45px 20px;
	cursor:pointer;
}
.search .searchword {
	float:left;
	margin-left:10px;
	text-decoration:none;
}

.searchword img{
	margin-left:8px;
}
.searchword:after{
	content:"";
	position:relative;
	display:inline-block;
	width:1px;
	height:30px;
	left:30px;
	top:12px;
	background:#dcdcdc;
}
.selectkind{
	position: absolute;
	left:0px;
	*left:-16px;
	top:58px;
	height: 105px;
    width: 78px;
    border-top: none;
    list-style: none;
    z-index: 1;
	font-size:14px;
}
.selectkind li {
	display:block;
	background:#fff;
	width:81px;
	height:40px;
	border:1px #e9e9e9 solid;
	border-top: none;
	line-height:40px;
}
.selectkind li a {
	margin-left:21px;
}
.selectpost {
	display:block;
	width:76px;
	height:50px;
	background:#fff;
	border-bottom:#dcdcdc solid 1px;
}
.selectuser {
	display:block;
	width:76px;
	height:50px;
	background:#fff;
}
.selectword{
	position:relative;
	left:15px;
	font-size:14px;
}
.search .searchtext {
	float:left;
	width:195px !important;
	height:40px;
	margin-top:5px;
	margin-left:13px;
	vertical-align:middle;
	line-height:40px;
	border:none;
	background:#fff;
}
.search .searchimg {
	float:left;
	width:25px;
	height:25px;
	margin-left:15px;
	margin-top:15px;
	border:none;
	background:url(../../../static/image/newimg/search_03.png) no-repeat;
}
.searchword:before{
	content:"";
	position:relative;
	display:inline-block;
	width:1px;
	height:30px;
	left:270px;
	top:12px;
	background:#dcdcdc;
}
.login {
	font-size: 16px;
	color: #8c8c8c;
	margin-top:64px;
	margin-left:75px;
}
.submitbtn {
	background:none;
	border:none;
	font-size:16px;
	color:#8c8c8c;
}
.user{
    margin-top: 45px;
    margin-left: 10px;
	margin-right:0px !important;
    font-size: 16px;
	height:55px !important;
    color: #8c8c8c;
    z-index:100;
    background:none!important;
	display:inline-block;
}
.hiuser {
	line-height:21px;
	float:left;
	position:relative;
	top:15px;
}
.hiuserin {
	max-width: 145px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	float: left;
}
.user span{
	font-size:16px;
	color:#000;
}
.quit{
	margin-left:10px;
	color:#8c8c8c;
	font-size:16px;
}
.userdata{
	position:absolute;
	width:245px!important;
	height:165px;
	border-top:#dcdcdc solid 1px;
	margin-top:10px;
	left:0;
	top:90px;
	background:#FFF;
	font-size:12px;
	color:#666;
	display:none;
	z-index:100;
	padding-top: 3px;
	background:url(../../../static/image/newimg/touming_back.png);
}
.userdata a {
	font-size:12px;
}
.userdata>div>span{
	position:relative;
	left:20px;
	top:12px;
	font-size:12px;
	color:#666;
}
.userdata>span span{
position: relative;
  top: 0;
  left: 0;
}
.userlist{
	position:relative;
	left: 20px;
 	top: 35px;
	list-style:none;
}
.userlist li{
	width:50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height:20px;
	float:left;
	margin-right:5px;
}
.userlist li span{
	position:relative;
	top:-3px;
	font-size: 13px;
	color: #2689ce;	
}
.userlink{
	position:relative;
	left: 5px;
  	top: 55px;
	list-style:none;
}
.userlink li{
	margin-right:31px;
	line-height:20px;
	margin-bottom:24px;
	display:inline-block;
	float:left;
}
.userlink li img{
	margin-bottom:5px;
	margin-left:20px;
}
.login a{
	font-size:16px;
	color:#8c8c8c;
	text-decoration:none;
}
.login a:hover{
	color:#0066cc;
	text-decoration:none;
}
.fleft {
	float:left;
	margin-right: 10px;
}
.fleft img{
	width:48px;
	height:48px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



*{
	font-family:"微软雅黑","宋体",Arial, "\5B8B\4F53", sans-serif;
	}
.colorBlue{color: #329ee0 !important;}
a,a:hover{text-decoration:none;}
#header_tiao{background:#4c4d4d;height:37px; width: 100%;}
#header_tiao2{	background:#ef791f;height:37px;}
.contenters{margin:0 auto;width:1200px;height:100%;	overflow:hidden; position: relative;}
.qiehuan{line-height:25px;	color:#ffffff;background:#ef791f;padding-right:100px;padding-left:10px;height:25px;}
.qiehuan2{	line-height:25px;	color:#ffffff;background:#06558d;padding-right:100px;padding-left:10px;height:25px;}
.qiehuan2 a{color:#ffffff;	}
.logos{background:url(./images/logos.png);width:244px;background-repeat:no-repeat;	height:78px;}
.logos1{background:url(./images/logo1.png);}
.menu_center{background-position:bottom;background-repeat:repeat-x;padding-top:50px; float: left; margin-left: 90px;}
.menu_center li{float:left;text-align:center;font-size:16px; height: 30px;line-height: 30px;
	font-family: "微软雅黑","宋体",Arial, "\5B8B\4F53", sans-serif;
	}
.menu_center li a{color:#000;font-weight:bolder;display:block;font-size:14px;}
.menu_center li a:hover{	color:#1498e0;	display:block;	text-decoration:none;font-size:14px;}
.now_menu{
	color:#329ee0 !important;
/*
	display:block;
	line-height:50px;
*/
/*
	width: 100px !important;
*/
	/*
font-size:16px;
*/
	}
.guanlitiao{
	background:url(./images/guanlitiao.png);
	background-position:left center;
	background-repeat:no-repeat;
	}
.qiehuan a{
	color:#ffffff;
	}
.qiehuan a:hover{
	text-decoration:none;
	}
.zixundianhua{
	line-height: 86px;
	}
.guanwang_lianjie a{
	color:#1498e0;
	}
.guanwang_lianjie a:hover{
	text-decoration:underline;
	}
.guanwang_lianjie{
	font-size:12px;
	line-height:30px;
	}
.dianhua{
	color: #8f8f8f;
font-size: 24px;
	}
.haoma{
	color: #ee791e;
font-size: 40px;
}
.dlzc{
	font-size:12px;
	line-height:25px;
	color:#fff;
	padding:0 20px 0 0;
	}
.dlzc span {
	margin-right:5px;
	}
.dlzc span a{
	color:#fff;
	}
.huanyingni{
	font-size:12px;
	line-height:25px;
	color:#fff;
	}
.huanyingni span{
	margin-right:10px;
	}
.huanyingni span a{
	color:#fff;
	}
.huanyingni span a:hover{
	text-decoration:none;
	}
.logostore{
	background:url(./images/logo_store.png);
	width:244px;
	background-repeat:no-repeat;
	height:78px;
	}
	.xiao_logo{
	background:url(./images/0422/xiao_logo.png);
	width:122px;
	background-position:center center;
	background-repeat:no-repeat;
	height: 86px;
	}
.hp_fix{position:fixed;width:100%;top:0;left:0;z-index:1000;}
.lgmenu_fix{position:fixed;top:37px;left:0;width:100%;background-color:#fff;height:89px;z-index:1000;}
#header_menu li .gl_ban{display:block;width:100%;border-top:1px solid #329ee0;height:49px;position:absolute;left:0;background-color:#f0eef4;}
#header_menu li .gl_ban span{margin-left:20%;
display: block;}
#header_menu li .gl_ban a{color:#909090;font-size:14px;font-weight:normal;width:150px;height:49px;display:block;}
#header_menu li .gl_ban a:hover{color:#3fa3e1;background:none;}
#header_menu li a+div.gl_ban{display:block;}
.ufl{float:left;}
/*新添加*/
.toubu{position: fixed;left: 0px; top: 0px; width: 100%;z-index:1000; min-width: 990px;}



#newNav{
	position:relative;
display:none;
margin-top:-3px;
z-index:10000000000;}






.outMenu{width:100%; min-width:1160px;position:absolute;top:37px; z-index:1000;}
.outMenu li{margin-top:15px;}
.outMenu li a{color:#fff;text-decoration:underline;font-size:12px;}
.spNew{font-size:14px;font-weight:bold;}
.ml24{margin-left:40px;}
.ml25{margin-left: 25px; margin-top: 10px;}
.overHidden{overflow:hidden;}
.outLeft{padding: 20px 0 5px;background: url(http://appcan.cn/images/bg.png) repeat;}
.backimg{background:url(./images/shuxian.png) right repeat-y}
.backimg1{background:url(./images/xian.png) bottom repeat-x}
.leftPd{padding-right:40px;padding-bottom:50px;}
.leftPd ul{margin-bottom: 0;}
.leftPd1 ul{margin-bottom: 0}
.leftPd2 ul{margin-bottom: 0}
.leftPd1{padding-bottom: 10px;padding-top: 10px;}
.leftPd10{padding-bottom: 10px;padding-top: 10px;}
.leftPd2{padding-bottom: 30px;}
.c_ec{color:#9ecfff}
.c_c1{color:#c1c3fe;}
.c_d6{color:#a6fbf6;}
.c_d7{color:#bcdebc;}
.c_wh{color:#fff;}
.mar0{margin: 0 !important;}
.ml30{margin-left:30px;}
.ml33{margin-left:33px;}
.ml35{margin-left:35px;}
.ml37{margin-left:25px;}
.ml43{margin-left:43px;}
.contenters1{overflow: hidden;width: 1160px;margin: 0 auto;}
.BlueHover li a:hover {color:#9ecfff;}
#newPost li a:hover{color:#d9daff}
.theHot{position: absolute;top: 0px;right: -12px;}
.inAppcan{height: 30px;background: url('./images/orgBackground.png');font-size:12px;color:#fff;line-height:30px;text-align:center;margin-top: 20px;}
.inAppcan1{height: 65px;background: url('./images/orgBackground.png');font-size:12px;color:#fff;line-height:30px;text-align:center;margin-top: 10px;padding-bottom: 10px;}
.rele{position:relative;}
.theImg{width: 180px;height: 2px;margin: 0 25px;display: block;float: left;}
.hand{cursor:pointer;}
.smallSpan{font-size:12px;line-height:37px;}
.ufr{float:left;margin-left: 25px;}
.aTextDex{ text-decoration:underline;}
.webNav{background: url("./images/webNav.png") 1px no-repeat;}
/*导航栏的两个动画*/
.animateImage{
-webkit-animation:Boom 1s  ease infinite;
-moz-animation:Boom 1s  ease infinite;
-o-animation:Boom 1s  ease infinite;
-ms-animation:Boom 1s  ease infinite;
}
@-webkit-keyframes Boom{
 0% { -webkit-transform: scale(1.2);}
  50% { -webkit-transform: scale(0.8);}
 100% { -webkit-transform: rotate(1);
}
}
@-moz-keyframes Boom{
 0% { -moz-transform: rotate(1.2);}
   50% { -moz-transform: scale(0.8);}
 100% { -moz-transform: rotate(1);}
}
@-ms-keyframes Boom{
 0% { -ms-transform: rotate(1.2);}
    50% { -ms-transform: scale(0.8);}
 100% { -ms-transform: rotate(1);}
}
@-o-keyframes Boom{
 0% { -o-transform: rotate(1.2);}
  50% { -o-transform: scale(0.8);}
 100% { -o-transform: rotate(1);}
}

.lanmu111{
	display: block;
	float: left;
	color: #303030;
}
#header_menu{width: 100%;float: left;margin-left: 0}
.disMenu{margin-top: 34px;width: 38px; height: 45px;display: block;float: right;text-align: center;}
.disMenu img{width: 21px; height: 18px;margin-top: 12px;}
#header_menu a:hover.disMenu{background-position: 0 17px;}
#header_menu li a{display: block;float: left; width: 100%;}

#header_menu li a .lanmu{display:block;float: left; margin-left: 18px; margin-right: 18px;}
#header_menu li .jiao{background: url(http://appcan.cn/images/jiao.png) -8px 24px no-repeat; height: 50px; width: 8px;display:block;float: left;cursor: pointer;margin-left: 4px;}
#header_menu li a:hover .jiao{background-position:-1px 24px }
.sonMenu{width: 100%;float: left;position: fixed; top: 126px;z-index: 99999}
.sonMenu .son{ float: left;margin-right: 40px;}
.sonMenu1{padding: 14px 0; width: 80px; background: url(http://appcan.cn/images/bg.png) repeat;float: left; margin-bottom: 0px;display: block;margin-left: 0}
.sonMenu1 dd{width: 100%;text-align: center;float: left; margin-left: 0px;}
.sonMenu1 dd a{display: block;float: left; color: #fff;font-size: 12px;line-height: 35px;width: 80px; text-align: center;}
a#register,a#login,#logfailedId a,#logSuccessId a{color: #9ecfff}
a:hover#register,a:hover#login,#logfailedId a:hover,#logSuccessId a:hover{color: #fff;text-decoration: underline;}
#head-ul{
	display: block;
	float: right;
}
#head-ul li{
	display: block;
	float: left;
	/*margin-left: 10px;
	margin-right: 10px;*/
	font-family: 微软雅黑;
	font-size: 14px;
	color: #fff;
}
#head-ul li a{
	margin-left: 10px;
	margin-right: 10px;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #fff;
	text-decoration: underline;
	display: block;
	height: 40px;
	line-height: 40px;
}
#head-ul li:hover{
   background: #303030;
}
.son ul li{
	color: #fff;
	margin-top: 15px;
}
.son ul a{
	color: #fff;
	
}
.head-class ul li a{
	color: #fff;
	height: 30px;
	line-height: 30px;
	font-family: 微软雅黑;
	font-size: 12px;
	text-decoration:underline;
}
.head-class{
	display: none;
}
}
	
.position-father{
	/*position: relative;*/
}
.position1{
	margin-left: 400px;


}
.position2{
	width: 220px;
	margin-left: 498px;

}
.position3{
	width: 170px;
	margin-left: 595px;
	
}
.position4{
	width: 190px;
	margin-left: 688px;
}
.emfont {
	max-width: 450px;
  display: inline-block;
  overflow: hidden;
  height: -5px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  top: 2px;
}
.loginremind {
	width:350px;
	height:80px;
	color:#666;
	font-size:14px;
	font-family:"微软雅黑";
	text-align:center;
	background:#fff;
	position:relative;
}
.loginremind div {
	position:relative;
	top:35px;
}
.loginremind div a:first-child{
	margin-left:20px;
}
.loginremind div a{
	color:#000;
}
.loginshadow {
	background: url(../home/imgs/tpback.png);
	padding:10px;
	z-index:2;
	position:fixed;
	top:300px;
	left:500px;
	border-radius:10px;
	display:none;
}
.clp {
	position:absolute;
	top:10px;
	right:10px;
}
#scbar_type {
	*padding-left:5px;
}
.header_main_left ul li a.link2 {
	color:#007eca;
}



.fwinmask input[type=checkbox],.fwinmask input[type=radio] {
	margin-top:-2px;
	margin-right:5px;
}
.fwinmask .tpcl li input[type=checkbox],.fwinmask .tpcl li input[type=radio] {
	margin-top:2px;
	margin-right:5px;
}
.fwinmask table .m_c .llst li {
	padding:20px 0;
	
}
.fwinmask table .c #reason {
	width:221px;
}
.fwinmask table .m_c p.o {
	padding-bottom:30px;
}
.fwinmask table .m_c div.o {
	padding-bottom:30px;
}
.fwinmask table .m_c .hasd label {
	min-width:60px;
}
.fwinmask table .m_c .hasd input {
	height:21px;
}
.fwinmask table .m_c .flb {
	padding-bottom:25px;
	margin-top:0;
}
.fwinmask table .m_c #topicadminform .tpmh input[type=text] {
	height:21px;
}
.fwinmask table .m_c .c .px {
	height:21px;
	line-height:21px;
} 
.fwinmask table .m_c .c {
	margin-top:0;
}
.fwinmask table .pn strong {
	color:#fff;
}
.b_r,.b_l,.t_l,.t_r{
	border-radius: 0!important;
}
.m_c .o{
	border-top:0 none;
	background: #fff;
}
.nfl .f_c{
	margin: 0px auto;
}
.nfl{
	padding-top: 195px;
	margin-bottom: 180px;
}
.your-notice{
	max-width: 65px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: text-top;
}